<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font")
    @Styles.Render("~/Content/adminlte")
    @Styles.Render("~/Content/bootstrap-treeview")
    @Styles.Render("~/Content/bootstrap-dialog")
    @Styles.Render("~/Content/bootstrap-table")
    @Styles.Render("~/Content/fancybox")
    @Styles.Render("~/Content/skins/skin-blue")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)
</head>
<body class="skin-blue sidebar-mini fixed" style="overflow: hidden">
    <div class="wrapper">
        @Html.Partial("_AdminLteHeader")
        @Html.Partial("_AdminLteLeftSidebar")
        <div class="content-wrapper" id="mainBody" name="mainBody">
            @*<iframe src="" id="mainFrame" name="mainFrame" frameborder="0" width="100%" height="100%" frameBorder="0"></iframe>*@
            @RenderBody()

        </div>
        <!-- 底部标注 -->
        <footer class="main-footer"></footer>
        @Html.Partial("_AdminLteRightSidebar")

    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/bootstrap")
@Scripts.Render("~/Scripts/adminlte")
@Scripts.Render("~/Scripts/bootstrap-table")
@Scripts.Render("~/Scripts/bootstrap-treeview")
@Scripts.Render("~/bundles/bootstrap-dialog")
@Scripts.Render("~/Scripts/fancybox")
<!-- FastClick -->
<script src="~/Scripts/plugins/fastclick/fastclick.min.js"></script>
<!-- jvectormap  -->
@*<script src="~/Scripts/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>*@
<!-- SlimScroll -->
<script src="~/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
@*<script src="~/Scripts/plugins/chartjs/Chart.min.js"></script>*@
@Scripts.Render("~/bundles/base-modal")
@RenderSection("scripts", required: false)
<script>
    $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
    $(function () {
        //adminlte 需要改进
        var pathname = window.location.pathname;
        $('.sidebar-menu li:not(.treeview) > a').on('click', function () {
            var $parent = $(this).parent().addClass('active');
            $parent.siblings('.treeview.active').find('> a').trigger('click');
            $parent.siblings().removeClass('active').find('li').removeClass('active');
        });
        $(window).on('load', function () {
            if (pathname != "/Home/Index") {
                $("a[href='" + pathname + "']").parent().addClass('active')
                    .closest('.treeview-menu').addClass('menu-open')
                    .closest('.treeview').addClass('active');
            }
        });

    });

</script>